@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    @apply bg-neutral-700 text-neutral-100;
}

h1 {
    @apply text-4xl font-black text-center mb-2;
}

h2 {
    @apply text-2xl font-black text-center mb-2;
}

h3 {
    @apply text-lg font-bold;
}

canvas {
    image-rendering: pixelated;
}

button {
    @apply bg-neutral-600 outline outline-1 outline-neutral-400 px-4 py-2;
}

button:hover {
    @apply bg-neutral-500;
}

button:active {
    @apply bg-[#323232];
}

a {
    @apply font-bold cursor-pointer hue-rotate-30;
}

a:hover {
    @apply underline;
}

input, select {
    @apply bg-neutral-800/90 p-0.5;
}

input:invalid {
    @apply bg-red-500/50;
}

/*code {*/
    /*@apply text-lg font-black bg-neutral-900/80 outline-dashed outline-1 rounded px-2 py-1 m-1;*/
/*}*/

hr {
    @apply opacity-25 my-4;
}

/* scrollbar */
::-webkit-scrollbar {
    @apply w-3;
}

::-webkit-scrollbar-track {
    @apply bg-neutral-800;
}

::-webkit-scrollbar-thumb {
    @apply bg-neutral-600;
}

::-webkit-scrollbar-thumb:hover {
    @apply bg-neutral-500;
}